@media screen and (min-width: 769px), print {
  body {
    margin: 0;
    background-color: #2A2C39;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 17px;
  }
  #map-holder {
    width: 100vw;
    height: 100vh;
  }
  svg rect {
    fill: #2A2C39;
    /* map background colour */
  }
  .country {
    fill: #eee;
    /* country colour */
    stroke: #2A2C39;
    /* country border colour */
    stroke-width: 1;
    /* country border width */
  }
  .country-on {
    fill: #f10;
    /* highlight colour for selected country */
  }
  .countryLabel {
    display: none;
    /* hide all country labels by default */
  }
  .countryName {
    fill: #FFFAFF;
    /* country label text colour */
  }
  .countryLabelBg {
    fill: #30BCED;
    /* country label background colour */
  }
}
